
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("Index", "Movies")'" class="btn">Movies</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "Reviews")'" class="btn">Reviews</button>
</p>

