
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<ul>
    @Html.ActionLink("Manage Movies.", "Index", "Movies")
    <br />
    @Html.ActionLink("Manage Reviews.", "Index", "Reviews")
    <br />
    @Html.ActionLink("Manage Users.", "Index", "Account")
    <br />
    @Html.ActionLink("Manage User Roles.", "Index", "IdentityRoles")
    <br />


</ul>
