@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<img src="~/Images/this-week-at-the-movies.gif" alt="This Week at the Movies Sign" />
<br/>
<br/>

<address>
    212 Lake Street<br />
    Elk Rapids, MI 49629<br />
    <abbr title="Phone">P:</abbr>
    847.997.4867
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:briggs50@mail.nmc.edu">briggs50@mail.nmc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:briggs50@mail.nmc.edu">briggs50@mail.nmc.edu</a>
</address>