@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div class="jumbotron">
        <h1>Movie-R-Us</h1>
    </div>


    <div class="home">
        <h2>What We Are About</h2>
        <p>
            Movie-R-Us is the site for all your movie needs. Trying to find a movie in a certain genre to watch?
            Search our list of movies. You can find information you need about the movies you're looking for.
        </p>

        <img src="~/Images/Popcorn350x495.png" />
    </div>


    <aside>
        <h2>Featured Movie</h2>
        <h3>Hidden Figures</h3>
        <p>
            The incredible untold story of Katherine G. Johnson, Dorothy Vaughan and Mary Jackson -
            brilliant African-American women working at NASA, who served as the brains behind one of
            the greatest operations in history: the launch of astronaut John Glenn into orbit, a stunning
            achievement that restored the nation's confidence, turned around the Space Race, and galvanized
            the world. The visionary trio crossed all gender and race lines to inspire generations to dream big.
        </p>
        <img src="~/Images/hiddenfigures150x286.jpg" alt="Hidden Figures Movie Poster" />
    </aside>

</body>
</html>

